[maprtech]
name=MapR Technologies
baseurl=http://package.mapr.com/releases/<version>/redhat/
enabled=1
gpgcheck=1
protect=1

[maprecosystem]
name=MapR Technologies
baseurl=http://package.mapr.com/releases/MEP/MEP-<version>/redhat
enabled=1
gpgcheck=1
protect=1
